.new-element {
    position: relative;
    & span {
        background: rgba(223, 223, 223, .4);
        border-radius: 5px;
        position: absolute;
        right: 0;
        top: 0;
    }
    &_selected {
        outline: 2px solid rgba(111, 95, 255, 0.6);
        z-index: 2;
        position: relative;
        & > span {
            background: rgba(111, 95, 255, 0.6);
            border-radius: 5px;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 1em;
            font-weight: 600;
        }
        & button {
            border: 1px solid gray;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0);
        }
    }
}
.editable {
    border: 2px dashed gray;
}