.field-templates {
    margin: 3px 3px 0px 3px;
    flex: 3;
    position: relative;
    border: 1px solid #8540f5;
    background-color: white;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: .4);
    &__head {
        color: white;
        background: #ae7cff;
        text-align: center;
        font-size: .8em;
    }
    &__body {
        max-height: calc(100vh - 136px);
        overflow-y: auto;
    }
}