.field-templates {
    margin: 3px 3px 0px 3px;
    flex: 3;
    border: 1px solid #8540f5;
    background-color: white;
    border-radius: 5px;
    max-height: calc(100vh - 115px);
    overflow-y: auto;
    box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: .4);
    &__tabs {
        display: flex;
        color: white;
        &_active {
            background: #a46bff;
            font-weight: 600;
        }
        & div {
            cursor: pointer;
            background: #ae7cff;
            text-align: center;
            flex: 1;
            transition: .3s;
            margin: 0 .5px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                background: #b283ff;
            }
        }
    }
}