.field-work-area{
    margin: 3px 3px 0px 3px;
    flex: 7;
    border: 1px solid #8540f5;
    background-color: white;
    border-radius: 5px;
    max-height: calc(100vh - 115px);
    overflow-y: auto;
    padding: 2px;
}