.app-page {
    min-height: calc(100vh - 60px);
    height: 1px;
    display:flex;
    flex-direction: column;
    &__main-area {
        display: flex;
        flex: 16;
    }
}
.small-display {
    display: none;
}
@media screen and (max-width: 605px) {
    .app-page {
        display: none;
    }
    .small-display {
        display: block;
    }
} 