.app-page {
    min-height: calc(100vh - 60px);
    height: 1px;
    display:flex;
    flex-direction: column;
    &__main-area {
        display: flex;
        flex: 16;
        & > .field{
            margin: 3px 3px 0px 3px;
            flex: 7;
            border: 1px solid #8540f5;
            background-color: white;
            border-radius: 5px;
        }
    }
}