.login-btn {
    color: white;
    border: 3px solid white;
    background: linear-gradient(to bottom, #8540f5, #ae7cff);
    border-radius: 5px;
    transition: .5s ease-out;
    &:hover {
        background: #fff;
        color: #8540f5;
    }
  }