.app-footer {
    flex: 1;
    margin: 3px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__load-btns {
        button:last-child {
            margin-left: 30px;
        }
    }
}